/* Button to open overlay menu */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #4840A3;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

/* Overlay full-screen menu styles */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(72, 64, 163, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 36px;
    color: #9CBBFC;
    display: block;
    transition: 0.3s;
}

.overlay a:hover {
    color: #F9CD6A; 
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #F9CD6A;
}

@media (max-height: 450px) {
    .overlay a
         {font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}



